global
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:8080
    default_backend http_back

backend http_back
    server local 127.0.0.1:8080 check disabled

listen stats
    bind *:8404
    stats enable
    stats uri /stats
